{{#partial "content"}}

    <h1>Heroes</h1>

    <div class="container-fluid">
        <div class="row">
            {{#if heroes}}
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">link to Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each heroes}}
                        <tr>
                            <td>{{name}}</td>
                            <td><a href="/heroes/{{id}}" class="btn btn-secondary">Details</a></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                <a href="/heroes/delete" class="btn btn-danger">Delete all heroes</a><br>

            {{else}}

                <div class="jumbotron" width="100%">
                    <h1>No Heroes Found</h1>
                </div>

            {{/if}}
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}


