{{#partial "content"}}

    <div class="container">
        <div class="jumbotron">
            <h1>Sorry This Squad is full</h1>
            <a href="/heroes/new">Go Back</a>
        </div>
    </div>


{{/partial}}

{{> layout.hbs}}